<div id="about-me">
  <div id="text">
    <h1>AIM TO <span>MAKE STRIKING</span> DESIGNS</h1>
    <p>
      I am an experienced MERN and MEAN stack developer. I have worked in
      several firms, been a freelancer, and also prototyped numerous journal
      websites every year for different faculty in Nigerian institutions.
      Building world-class online apps is my passion.
    </p>
  </div>

  <div id="about-me_img" (mouseover)="hovered($event)" (mouseout)="unHovered()">
    <img
      src="assets/paint.jpg"
      id="paint"
      alt="Paint"
      [@move]="{
        value: move,
        params: { xi: this.xi * 2.5, yi: this.yi * 2.5 }
      }"
    />
    <img
      src="assets/about-me-shape.png"
      id="trapezium"
      alt="Trapezium"
      [@move]="{ value: move, params: { xi: this.xi * 2, yi: this.yi * 2 } }"
    />
    <img
      src="assets/i.png"
      id="i"
      alt="Letter I"
      [@move]="{
        value: move,
        params: { xi: this.xi * 1.5, yi: this.yi * 1.5 }
        
      }"
    />
  </div>
</div>
