#about-me {
  padding: 7rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

  #text {
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 800;
      //   width: 70%;
      font-size: 5rem;
      line-height: 1.3;

      span {
        font-weight: 300;
      }
    }
  }
  img:first-child {
    width: 30rem;
    aspect-ratio: 1/1;
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 100%,
      26% 100%,
      19% 77%,
      0 69%,
      0 23%
    );
  }
}

#about-me_img {
  position: relative;
  width: 39rem;
  aspect-ratio: 1/1;

  #paint {
    position: absolute;
    top: 0;
    left: 0;
  }

  #trapezium {
    position: absolute;
    top: 0;
    right: 0;
  }

  #i {
    width: 40%;
    position: absolute;
    top: 20%;
    right: -20%;
  }
}
