<div id="ratings">
  <div id="rating">
    <div id="rating-bar"><p>98%</p></div>
    <h1>Front-End</h1>
    <p>
      Modern and mobile-ready UI/UX websites that will help you reach all of
      your marketing.
    </p>
  </div>
  <div id="rating">
    <div id="rating-bar"><p>92%</p></div>
    <h1>Back-End</h1>
    <p>
      Create, Maintain, Test, and Debug the application logic, databases, API
      and other back end processes
    </p>
  </div>
  <div id="rating">
    <div id="rating-bar"><p>97%</p></div>
    <h1>Wordpress</h1>
    <p>
      Develops both back-end and front-end development, including creating
      WordPress themes and plugins
    </p>
  </div>
  <div id="rating">
    <div id="rating-bar"><p>90%</p></div>
    <h1>Server Deployment</h1>
    <p>
      Installing and Configuring the requisite software to bring the server into
      operation .
    </p>
  </div>
</div>
