@import "../../styles.scss";

.dark {
  background-color: #000;
  color: #fff;
  transition: all 2s;
}

.light {
  background-color: #fff;
  color: #000;
  transition: all 1s;
}

.dark-toggle {
  @include center;
  font-size: 6rem;
  border: 0.1rem solid #fff;
  width: 4rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all 0.5s;
  // align-self: end;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.light-toggle {
  @include center;
  font-size: 6rem;
  border: 0.1rem solid #000;
  width: 4rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all 0.5s;
  // align-self: end;

  &:hover {
    background: #000;
    color: #fff;
  }
}

@mixin delay {
  opacity: 0;
  animation-fill-mode: forwards;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 70rem 1fr;
  grid-template-rows: max-content min-content auto;
  align-items: center;
  justify-items: center;
  padding: 3rem 5rem;
  grid-row-gap: 3rem;
}

#left {
  // @include toggle;
  transform: skewX(-10deg);
  transition: all 2s;

  mat-icon {
    @include center;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    transform: rotateY(180deg) skewX(-10deg);
  }
}
#right {
  transform: skewX(10deg);
  transition: all 2s;

  mat-icon {
    @include center;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    transform: skewX(-10deg);
  }
}

#text {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  transition: all 2s;

  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 800;
  font-family: "Josefin Sans", sans-serif;
  cursor: default;

  span {
    font-weight: 300;
  }
}
#toggle {
  grid-column: 1/-1;
  grid-row: 3/4;
  cursor: pointer;

  svg {
    margin: 0 1rem;
    transform-origin: center;

    path {
      stroke-width: 3;
    }
  }
}

g {
  transition: all 0.5s;
}
.delay {
  @include delay;
}

.o10 {
  opacity: 0;
  animation: o10 2s 6.5s;
  animation-fill-mode: forwards;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes o12 {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.o12 {
  animation: o12 2s 2s;
  @include delay;
}

@keyframes o13 {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.o13 {
  animation: o13 3s 2s;
  @include delay;
}

svg {
  transition: all 500;
}

@keyframes dash {
  0% {
    opacity: 0;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
  100% {
    opacity: 1;
    stroke-dasharray: 5.19 5.19;
    stroke-dashoffset: 0;
  }
}

.dasharray {
  opacity: 0;
  stroke-dasharray: 5.19 5.19;
  stroke-dashoffset: 100;
  animation: dash 3s 3s;
  animation-fill-mode: forwards;
  
}

