<div id="qualities">
  <div>
    <img src="assets/qualities/flexible.svg" alt="" />
    <h1>FLEXIBLE</h1>
    <p>
      I can cope with changes in circumstances and think about problems and
      tasks in novel, creative ways.
    </p>
  </div>
  <div>
    <img src="assets/qualities/experience.svg" alt="" />
    <h1>EXPERIENCE</h1>
    <p>
      I have training, knowledge or has participated in various web developement
      projects.
    </p>
  </div>
  <div>
    <img src="assets/qualities/deadline.svg" alt="" />
    <h1>MEET DEADLINE</h1>
    <p>I finish work on time, by the agreed date.</p>
  </div>
  <div>
    <img src="assets/qualities/variety.svg" alt="" />
    <h1>VARIETY</h1>
    <p>
      I have set of various skill-sets which is required to complete any web
      development job role & responsibilities.
    </p>
  </div>
  <div>
    <img src="assets/qualities/creative.svg" alt="" />
    <h1>CREATIVE</h1>
    <p>I am albe to invent and develop original ideas.</p>
  </div>
  <div>
    <img src="assets/qualities/responsive.svg" alt="" />
    <h1>RESPONSIVE DESIGN</h1>
    <p>
      My designs render well on a variety of devices and window or screen sizes.
    </p>
  </div>
</div>
