<h1>Blog <span>Posts</span></h1>
<div id="blogs">
  <div id="blog">
    <img src="assets/blog/git.png" alt="git" />
    <p>14/03/2022 / By Saidu Idris</p>
    <h3>Travelling back in time with your code</h3>
  </div>
  <div id="blog">
    <img src="assets/blog/paints.jpg" alt="git" />
    <p>14/03/2022 / By Saidu Idris</p>
    <h3>Color Composition</h3>
  </div>
  <div id="blog">
    <img src="assets/blog/server.jpeg" alt="git" />
    <p>14/03/2022 / By Saidu Idris</p>
    <h3>Sever different ways to deploy nodejs</h3>
  </div>
</div>
